ipch
temp
runtime
local/*.*
externals/code
externals/installers
externals/runtime
externals/tools
media/screenshots
code/tea_for_god_open.keystore
code/teaForGodPico/assets
code/teaForGodPico/res
code/teaForGodPico/build.xml
code/teaForGodPico/project.properties
code/teaForGodPico.NativeActivity/*.h
code/teaForGodPico.NativeActivity/*.c
code/teaForGodPico.NativeActivity/*.cpp
code/teaForGodQuest/assets
code/teaForGodQuest/res
code/teaForGodQuest/build.xml
code/teaForGodQuest/project.properties
code/teaForGodQuest.NativeActivity/*.h
code/teaForGodQuest.NativeActivity/*.c
code/teaForGodQuest.NativeActivity/*.cpp
code/teaForGodVive/assets
code/teaForGodVive/res
code/teaForGodVive/build.xml
code/teaForGodVive/project.properties
code/teaForGodVive.NativeActivity/*.h
code/teaForGodVive.NativeActivity/*.c
code/teaForGodVive.NativeActivity/*.cpp
*.opensdf
*.sdf
*.v11.suo
*.v12.suo
*.log
.vs/*
**/.vs/*
.workspace/*
output*.bmp
crashes/**/*.log
crashes/**/*.txt
**/Obj
**/runtime-data/config.xml
**/runtime-data/mainConfig.xml
**/runtime-data/system.tags
**/runtime-data/userConfig.xml
**/runtime-data/highscores*
**/runtime-data/openvr*
**/runtime-data/**/_auto
**/runtime-data/**/_logs
**/runtime-data/**/_players
**/runtime-data/**/_screenshots
**/runtime-data/**/_stats
**/system/codeInfo
*.~*~
*.orig
assets.offline
*.au
*.cx
*.snd
*.tex
*.mesh
*.skel
*.animSet
*.cache
**/runtime-data/**/shaderProgramCache.*
build
deploy
buildVerUpdate.exe
SDL2.dll
CarbonCopy.exe
LogCombiner.exe
QuestVideoDownloader.exe
TFGLogDownloader.exe
_logs
_pdbs
._worktable
._screenshots
._cc
._tools/OculusMirror.exe
._output
**/_doNotCheckIn
**/steam_appid.txt

scavengers/runtime-data/savegames/auto save daily
scavengers/runtime-data/savegames/auto save hourly
scavengers/runtime-data/savegames/auto save weekly
scavengers/runtime-data/savegames/auto save

tea/runtime-data/library/music/assets
**/runtime-data/_editor/_last